.heading{
    text-align: center;
    color:rgb(20, 121, 102);
    text-shadow: 2px 2px 5px rgba(16, 183, 144, 0.715);
    font-family: "lucida handwriting", cursive ;
}

#contents {
    position: relative;
    padding-left: 120px;
}

#contents p {
    position: absolute;
    top: -23.5px;
    left: -10px;
    padding-left: 13px;
    display: inline-block;
    z-index: 1;
    background: rgb(10, 64, 59);
    color: rgb(190, 204, 244);
    padding-right: 10px;
    font-family: cursive ;
    padding-top: 5px;
    padding-bottom: 5px;
  }

.scrolling-text{
    white-space: nowrap;
    overflow: visible;
    width: 100%;
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
    0%{
        transform: translate(100%);
    }
    100%{
        transform: translate(-100%)
    }
}
.text-container{
    display: inline-flex;
    padding-right: 100%;
}
.box-select{
    background-color: rgba(43, 214, 200, 0.201);
    height: 28px;
    max-width: 100%;
    border-style: outset;
    border-color: rgba(4, 69, 66, 0.607);
    word-spacing: 35px;
    text-indent: 8%;
    font-weight: bold;
    padding-top: 5px;
    color: rgb(18, 4, 90);
}
.box{
    position: relative;
}
#pic{
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 5px;
}